* {
  /* Global Reset: This eliminates all margins and paddings. You can style as you desire afterwards. */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PAGE SECTIONS */

body {
  /* Declear all color and text property that applies to all the document */
  font-family: sans-serif;
  color: #444;
  border-top: 10px solid #1098ad;
  /* position: relative; */
}

.container {
  /* Declear with and margin property */
  width: 1200px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  position: relative;
}
.main-header {
  background-color: #f7f7f7;
  /* padding-right: 40px;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px; */
  padding: 20px 40px;
  margin-bottom: 60px;
  height: auto;
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 40px;
}

/* SMALLER ELEMENTS */
h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

/* PSEUDO ELEMENTS ARE INLINE ELEMENTS */
h2::after {
  content: "TOP";
  background-color: #ffe70e;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h3 {
  font-size: 30px;
  margin: 40px 0 20px 0;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  text-align: center;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  margin-bottom: 15px;
  /* display: inline; */
}

.related-post {
  display: flex;
  margin-bottom: none;
}

li:last-child {
  margin-bottom: 0;
}

.related,
div {
  margin-left: 24px;
}

footer p {
  font-size: 16px;
}

article header p {
  font-style: italic;
}

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
  margin-left: 0 auto;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* li:nth-child(even) {
  color: red;
} */

/* Misconceptions: This won't work! */
article p:first-child {
  color: red;
}

/* syling links */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}
/* LVHA: Follow this order when styling links */

.post-image {
  width: 100%;
  height: auto;
}

nav a:link {
  display: inline-block;
  margin-right: 20px;
  /* margin-top: 10px; */

  /* background-color: orangered;
  margin: 20px;
  padding: 20px;
  display: block; */
}

nav a:link:last-child {
  margin: 0;
}

.like {
  padding: 5px;
  font-size: 22px;
  cursor: pointer;
  position: absolute;
  /* top: 50px;
  left: 50px; */
  bottom: 50px;
  right: 50px;
}

/* FLOAT  */

.author-img {
  float: left;
  margin-bottom: 20px;
}

.author {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

h1 {
  float: left;
}

nav {
  float: right;
}

nav,
a {
  margin-right: 30px;
}

header::after {
  content: "";
  clear: both;
  display: block;
}

article {
  width: 825px;
  float: left;
}

aside {
  width: 300px;
  float: right;
}

footer {
  clear: both;
}
